USE [master]
GO
/****** Object:  Database [aurum]    Script Date: 31/01/2018 2:11:12 PM ******/
CREATE DATABASE [aurum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aurum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\aurum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'aurum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\aurum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aurum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aurum]
GO
USE [aurum]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 31/01/2018 2:11:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[accountUsername] [varchar](150) NOT NULL,
	[accountPassword] [varchar](120) NOT NULL,
	[accountPhoto] [nvarchar](max) NULL,
	[accountFN] [varchar](150) NOT NULL,
	[accountMN] [varchar](100) NULL,
	[accountLN] [varchar](150) NOT NULL,
	[accountBirthDate] [date] NULL,
	[accountSex] [char](2) NULL,
	[accountSSSNo] [nvarchar](130) NOT NULL,
	[accountTINNo] [nvarchar](130) NOT NULL,
	[accountBIRNo] [nvarchar](130) NOT NULL,
	[accountHDMFNo] [nvarchar](130) NOT NULL,
	[accountEmail] [varchar](100) NULL,
	[accountBaseRate] [decimal](10, 2) NOT NULL,
	[accountStatus] [varchar](30) NOT NULL,
	[cstatusID] [int] NOT NULL,
	[positionID] [int] NOT NULL,
	[departmentID] [int] NOT NULL,
 CONSTRAINT [PK_accounts] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[addressID] [int] IDENTITY(1,1) NOT NULL,
	[addressL1] [varchar](150) NULL,
	[addressL2] [varchar](150) NULL,
	[addressCity] [varchar](100) NULL,
	[addressZip] [char](10) NULL,
	[accountID] [int] NOT NULL,
 CONSTRAINT [PK_addresses] PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cases]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cases](
	[caseID] [int] IDENTITY(1,1) NOT NULL,
	[caseTitle] [varchar](200) NOT NULL,
	[caseDescription] [varchar](200) NULL,
	[caseStartDate] [date] NOT NULL,
	[caseEndDate] [date] NOT NULL,
	[caseRemarks] [varchar](200) NULL,
	[caseStatus] [varchar](50) NOT NULL,
	[accountID] [int] NOT NULL,
	[clientID] [int] NOT NULL,
	[serviceID] [int] NULL,
 CONSTRAINT [PK_cases] PRIMARY KEY CLUSTERED 
(
	[caseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[civilstatuses]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[civilstatuses](
	[cstatusID] [int] IDENTITY(1,1) NOT NULL,
	[cstatusName] [varchar](50) NOT NULL,
	[cstatusDescription] [varchar](200) NULL,
 CONSTRAINT [PK_civilstatuses] PRIMARY KEY CLUSTERED 
(
	[cstatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[clientID] [int] IDENTITY(1,1) NOT NULL,
	[clientPhoto] [nvarchar](max) NULL,
	[clientFN] [varchar](150) NOT NULL,
	[clientMN] [varchar](100) NULL,
	[clientLN] [varchar](150) NOT NULL,
	[clientEmail] [varchar](150) NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[clientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[contactID] [int] IDENTITY(1,1) NOT NULL,
	[contactNumber] [nvarchar](max) NOT NULL,
	[ctypeID] [int] NOT NULL,
	[accountID] [int] NOT NULL,
 CONSTRAINT [PK_contacts] PRIMARY KEY CLUSTERED 
(
	[contactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacttypes]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacttypes](
	[ctypeID] [int] IDENTITY(1,1) NOT NULL,
	[ctypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_contacttypes] PRIMARY KEY CLUSTERED 
(
	[ctypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[departmentID] [int] IDENTITY(1,1) NOT NULL,
	[departmentName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_departments] PRIMARY KEY CLUSTERED 
(
	[departmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expenses]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expenses](
	[expenseID] [int] IDENTITY(1,1) NOT NULL,
	[expenseAmount] [decimal](10, 2) NOT NULL,
	[expenseDate] [date] NOT NULL,
	[expenseProof] [nvarchar](max) NULL,
	[expenseRemarks] [varchar](150) NULL,
	[etypeID] [int] NOT NULL,
	[accountID] [int] NOT NULL,
	[caseID] [int] NULL,
 CONSTRAINT [PK_expenses] PRIMARY KEY CLUSTERED 
(
	[expenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expensetypes]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expensetypes](
	[etypeID] [int] IDENTITY(1,1) NOT NULL,
	[etypeName] [varchar](120) NOT NULL,
	[etypeDescription] [varchar](200) NULL,
 CONSTRAINT [PK_expensetypes] PRIMARY KEY CLUSTERED 
(
	[etypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[logAccount] [int] NOT NULL,
	[logEvent] [varchar](max) NOT NULL,
	[logDate] [datetime] NOT NULL,
 CONSTRAINT [PK_logs] PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 31/01/2018 2:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[positionID] [int] IDENTITY(1,1) NOT NULL,
	[positionName] [varchar](50) NOT NULL,
	[positionDescription] [varchar](200) NULL,
 CONSTRAINT [PK_positions] PRIMARY KEY CLUSTERED 
(
	[positionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_accounts_civilstatuses] FOREIGN KEY([cstatusID])
REFERENCES [dbo].[civilstatuses] ([cstatusID])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_accounts_civilstatuses]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_accounts_departments] FOREIGN KEY([departmentID])
REFERENCES [dbo].[departments] ([departmentID])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_accounts_departments]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [FK_accounts_positions] FOREIGN KEY([positionID])
REFERENCES [dbo].[positions] ([positionID])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [FK_accounts_positions]
GO
ALTER TABLE [dbo].[addresses]  WITH CHECK ADD  CONSTRAINT [FK_addresses_accounts] FOREIGN KEY([accountID])
REFERENCES [dbo].[accounts] ([accountID])
GO
ALTER TABLE [dbo].[addresses] CHECK CONSTRAINT [FK_addresses_accounts]
GO
ALTER TABLE [dbo].[cases]  WITH CHECK ADD  CONSTRAINT [FK_cases_accounts] FOREIGN KEY([accountID])
REFERENCES [dbo].[accounts] ([accountID])
GO
ALTER TABLE [dbo].[cases] CHECK CONSTRAINT [FK_cases_accounts]
GO
ALTER TABLE [dbo].[cases]  WITH CHECK ADD  CONSTRAINT [FK_cases_clients] FOREIGN KEY([clientID])
REFERENCES [dbo].[clients] ([clientID])
GO
ALTER TABLE [dbo].[cases] CHECK CONSTRAINT [FK_cases_clients]
GO
ALTER TABLE [dbo].[contacts]  WITH CHECK ADD  CONSTRAINT [FK_contacts_accounts] FOREIGN KEY([accountID])
REFERENCES [dbo].[accounts] ([accountID])
GO
ALTER TABLE [dbo].[contacts] CHECK CONSTRAINT [FK_contacts_accounts]
GO
ALTER TABLE [dbo].[contacts]  WITH CHECK ADD  CONSTRAINT [FK_contacts_contacttypes] FOREIGN KEY([ctypeID])
REFERENCES [dbo].[contacttypes] ([ctypeID])
GO
ALTER TABLE [dbo].[contacts] CHECK CONSTRAINT [FK_contacts_contacttypes]
GO
ALTER TABLE [dbo].[expenses]  WITH CHECK ADD  CONSTRAINT [FK_expenses_accounts] FOREIGN KEY([accountID])
REFERENCES [dbo].[accounts] ([accountID])
GO
ALTER TABLE [dbo].[expenses] CHECK CONSTRAINT [FK_expenses_accounts]
GO
ALTER TABLE [dbo].[expenses]  WITH CHECK ADD  CONSTRAINT [FK_expenses_expensetypes] FOREIGN KEY([etypeID])
REFERENCES [dbo].[expensetypes] ([etypeID])
GO
ALTER TABLE [dbo].[expenses] CHECK CONSTRAINT [FK_expenses_expensetypes]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Foreign key that connects the accounts table and the civilstatuses table. Defines the civil status of the user/account.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounts', @level2type=N'CONSTRAINT',@level2name=N'FK_accounts_civilstatuses'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Connects the departments table to the accounts table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounts', @level2type=N'CONSTRAINT',@level2name=N'FK_accounts_departments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Foreign key that connects the accounts table and the positions table. Defines the account owner''s position in the company as well as the access privileges that they have.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'accounts', @level2type=N'CONSTRAINT',@level2name=N'FK_accounts_positions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Connects the addresses table and accounts table. Gives the address record an owner(account).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'addresses', @level2type=N'CONSTRAINT',@level2name=N'FK_addresses_accounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Specifies the account involved with the case' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cases', @level2type=N'CONSTRAINT',@level2name=N'FK_cases_accounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Specifies which client the case is for.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cases', @level2type=N'CONSTRAINT',@level2name=N'FK_cases_clients'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Connects the contacts table to the accounts table. Gives a record an owner account.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'contacts', @level2type=N'CONSTRAINT',@level2name=N'FK_contacts_accounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Connects the contacts table and the contacttypes table.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'contacts', @level2type=N'CONSTRAINT',@level2name=N'FK_contacts_contacttypes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Connects the expenses and accounts table. Specifies who incurred which account.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expenses', @level2type=N'CONSTRAINT',@level2name=N'FK_expenses_accounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Connects the expenses to the expensetypes table. Relates what type of expense the record is.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'expenses', @level2type=N'CONSTRAINT',@level2name=N'FK_expenses_expensetypes'
GO
USE [master]
GO
